footer {
  background-color: var(--gelb);
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 5px;
}
footer a {
  background: url("../../public/img/beer-icon.png") no-repeat center;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
